
###cluster attribute#####
{% if es_cluster_name %}
cluster.name: {{es_cluster_name}}
{%else%}
cluster.name: elasticsearch
{% endif %}

{% if es_node_name %}
node.name: {{es_node_name}}
{%else%}
node.name: {{ansible_hostname}}
{% endif %}

#################################### Paths ####################################
path.data: {{ es_path_data }}

path.logs: {{ es_log_dir }}
######index attribute#####
{% if es_action_auto_create_index == true %}
action.auto.create.index: true

{% endif %}


######cluster configure#######

network.host: {{ansible_default_ipv4.address}}
transport.bind_host: {{ansible_default_ipv4.address}}

{% if es_http_port %}
http.port: {{es_http_port}}
{% else %}
http.port: 9200
{% endif %}
{% if es_transport_tcp_port %}
transport.tcp.port: {{es_transport_tcp_port}}
{% else %}
transport.tcp.port: 9300
{% endif %}
{% if es_discovery_zen_ping_unicast_hosts %}
discovery.zen.ping.unicast.hosts: {{es_discovery_zen_ping_unicast_hosts}}
{% endif %}
{% if es_node_master == 'false' %}
node.master: {{es_node_master}}
{% endif %}
{% if es_node_data == 'false' %}
node.data: {{es_node_data}}
{% endif %}
{% if es_node_data == 'false' %}
node.ingest: {{es_node_data}}
{% endif %}
{% if es_http_cors_allow_origin == '*' %}
http.cors.allow-origin: {{es_http_cors_allow_origin}}
{% endif %}
{% if es_http_cors_enabled == 'true' %}
http.cors.enabled: {{es_http_cors_enabled}}
{% endif %}
{% if es_http_cors_enabled == 'false' %}
xpack.security.enabled: {{es_xpack_security_enabled}}
{% endif %}
{% if es_thread_pool_search_queue_size == 'true' %}
thread_pool.search.queue_size: {{es_thread_pool_search_queue_size}}
{% endif %}
{% if es_thread_pool_search_size == 'true' %}
thread_pool.search.size: {{es_thread_pool_search_size}}
{% endif %}
