## JVM configuration

################################################################
## IMPORTANT: JVM heap size
################################################################
##
## You should always set the min and max JVM heap
## size to the same value_ For example, to set
## the heap to 4 GB, set:
##
## -Xms4g
## -Xmx4g
##
## See https://www_elastic_co/guide/en/elasticsearch/reference/current/heap-size_html
## for more information
##
################################################################

# Xms represents the initial size of total heap space
# Xmx represents the maximum size of total heap space
{% if es_heap_size is defined %}
-Xms{{ es_heap_size }}
-Xmx{{ es_heap_size }}
{% else %}
-Xms2g
-Xmx2g
{% endif %}

################################################################
## Expert settings
################################################################
##
## All settings below this section are considered
## expert settings_ Don't tamper with them unless
## you understand what you are doing
##
################################################################

## GC configuration
-XX:+UseConcMarkSweepGC
-XX:CMSInitiatingOccupancyFraction=75
-XX:+UseCMSInitiatingOccupancyOnly

## optimizations

# pre-touch memory pages used by the JVM during initialization
-XX:+AlwaysPreTouch

## basic

# force the server VM
-server

# set to headless, just in case
-Djava_awt_headless=true

# ensure UTF-8 encoding by default (e_g_ filenames)
-Dfile_encoding=UTF-8

# use our provided JNA always versus the system one
-Djna_nosys=true

# use old-style file permissions on JDK9
-Djdk_io_permissionsUseCanonicalPath=true

# flags to configure Netty
-Dio_netty_noUnsafe=true
-Dio_netty_noKeySetOptimization=true
-Dio_netty_recycler_maxCapacityPerThread=0

# log4j 2
-Dlog4j_shutdownHookEnabled=false
-Dlog4j2_disable_jmx=true
-Dlog4j_skipJansi=true

## heap dumps

# generate a heap dump when an allocation from the Java heap fails
# heap dumps are created in the working directory of the JVM
-XX:+HeapDumpOnOutOfMemoryError

# specify an alternative path for heap dumps
# ensure the directory exists and has sufficient space
#-XX:HeapDumpPath=${heap_dump_path}

## GC logging

#-XX:+PrintGCDetails
#-XX:+PrintGCTimeStamps
#-XX:+PrintGCDateStamps
#-XX:+PrintClassHistogram
#-XX:+PrintTenuringDistribution
#-XX:+PrintGCApplicationStoppedTime

# log GC status to a file with time stamps
# ensure the directory exists
#-Xloggc:${loggc}


# By default, the GC log file will not rotate_
# By uncommenting the lines below, the GC log file
# will be rotated every 128MB at most 32 times_
#-XX:+UseGCLogFileRotation
#-XX:NumberOfGCLogFiles=32
#-XX:GCLogFileSize=128M
